/* ./src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html{
    scroll-behavior: smooth;
   }
   body{
       background-image:url('../assets/bgpixel.svg');
       background-size:10px;
       @apply font-body overflow-x-hidden font-extralight bg-light;
   }
  }
